<div class="footer-copyright bg-dark text-white text-center py-3 navbar-fixed-bottom" >
    <a class="btn btn-primary mr-3" href="#top" role="button">Back to Top</a>
    &copy; 2019 Copyright:
    <a href="#" class="text-white">NinjaBlog</a>
</div>
    
