<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <img class="rounded float-left" src="~/Content/Pictures/icon1.png" alt="Ninja" width="60px" height="60px">
    <span class="ml-3 text-white fa-2x"><b>Ninja Blog</b></span><br />
    <span class="ml-3 text-info fa-2x">@ViewBag.Title</span>
</nav>
